# Default ignored files
/shelf/
/workspace.xml
/out/
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml